@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/StyleSheet.css"/>
  <link rel="stylesheet" type="text/css" href="/js/JavaScript.js"/>
  <link rel="stylesheet" type="text/css" href="/images/adna kebab.jpeg"/>
    <link rel="stylesheet" type="text/css" href="/images/dolma.jpg"/>
      <link rel="stylesheet" type="text/css" href="/images/gozleme.jpg"/>
        <link rel="stylesheet" type="text/css" href="/images/turkish borek.jpg"/>
          <link rel="stylesheet" type="text/css" href="/images/turkish meatballs.jpg"/>
            <link rel="stylesheet" type="text/css" href="/images/Turkish-manti-dumplings.jpg"/>
  <link rel="stylesheet" type="text/css" href="/images/turkish-foods.jpg"/>
</head>
<body>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a class="active" href="#Menu">Menu</a></li>
  <li><a class="active" href="#Bill">Bill</a></li>
  <li><a class="active" href="#About">About</a></li>
</ul>
<br>
<div class="container">
<img src="turkish-foods.jpg" alt="logo" width="1000" height="500" >
<div class="centered">Turkish Food</div>
</div>
<br>
<div id="home" class="w3-content">

<h1>Food Menu</h1>

<br>
  <div id="Menu" class="w3-content"></div>
  <img src="adna kebab.jpeg" alt="logo" width="600" height="300"  >
  <h2>Adna Kebab price 400 </h2>
<br>

<br>
  <div id="Menu" class="w3-content"></div>
  <img src="turkish borek.jpg" alt="logo" width="600" height="400"  >
  <h3>Turkish Borek price 300 </h3>
<br>

<br>
  <div id="menu" class="w3-content"></div>
  <img src="gozleme.jpg" alt="logo" width="600" height="300" >
  <h4>Gozleme price 200 </h4>
<br>

<br>
  <div id="menu" class="w3-content"></div>
  <img src="turkish meatballs.jpg" alt="logo" width="600" height="300" >
  <h4>Turkish meatballs price 500 </h4>
<br>

<br>
  <div id="Menu" class="w3-content"></div>
  <img src="dolma.jpg" alt="logo" width="600" height="300" >
  <h4>Dolma price 200 </h4>
<br>

<br>
  <div id="Menu" class="w3-content"></div>
  <img src="Turkish-manti-dumplings.jpg" alt="logo" width="600" height="400" >
  <h4>Turkish-manti-dumplings price 400 </h4>
<br>

  <div id="Bill" class="w3-content"></div>
  <h1>Bill</h1>

    
  <h3>Adna Kebab</h3><input type=" text" id="item1" placeholder="enter item1"/>
  
  <h3>TurkishBorek</h3><input type=" text" id="item2" placeholder="enter item2"/>
  
  <h3>Gozleme</h3><input type=" text" id="item3" placeholder="enter item3"/>
  
  <h3>turkishmeatballs</h3><input type=" text" id="item4" placeholder="enter item4"/>
  
  <h3>Dolma</h3><input type=" text" id="item5" placeholder="enter item5"/>
  
  <input type=" text" id="Results" readonly />
  
  <button onclick="items()" > sum </button>
  
  <h4>average</h4><input type=" text" id="average" readonly />
  <h4>Tax</h4><input type=" text" id="Tax" readonly />


 <div id="About" class="w3-content"></div>

  <p> <br><b>About</b><br>  Welcome to Defne were we pride ourselves on quality and freshness of all our food.
   A family run buisness orıganating from the famous historical city Hatay Turkey.
     Known worldwide for it’s full richness of freshly grown products mainly grown by the locals, thus making the wonderful taste and aromas from our kebabs cooked on an open barbecue stand out amongst the rest. 
    Turkish food is all about the taste and we certainly live upto that. <br> Timing 1 pm to 11 am <br> <br> Monday & Tuesday closed <br>  </p>







</body>